:root {
  --background-colour: #f0e5e5; /* Light rose */
  --main-colour: #3d5a80; /* Dark steel blue */
  --hover-colour: #d8b5b5;
  --focus-colour: #f2e9de;
}


html,body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: var(--background-colour);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: var(--main-colour);
}

button {
  background-color: var(--main-colour);
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var( --hover-colour);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

.input input {
  background-color: var(--hover-colour);
  color: var(--main-colour);
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--background-colour);
  border-radius: 5px;
  width: 250px;
}

.input select {
  background-color: var(--hover-colour);
  color: var(--main-colour);
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--background-colour);
  border-radius: 5px;
  width: 270px;
}

.input label {
  color: var(--main-colour);
}

.input input:focus {
  background-color: var(--focus-colour);
  border-color: var(--main-colour);
}

.input select:focus {
  border-color: var(--main-colour);
}

.input-container button {
  background-color: var(--main-colour);
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: var(--hover-colour);
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--background-colour);
  padding: 20px;
}

.item {
  background-color: var(--hover-colour);
  border: 1px solid var(--background-colour);
  color: var(--main-colour);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.item:hover {
  background-color: var(--focus-colour);
  border-color: var(--main-colour);
}

.room-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--background-colour);
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.shared-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
}

.shared-item {
  border: 1px solid var(--main-colour);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--hover-colour);
}