:root {
  --background-colour: #f0e5e5; /* Light rose */
  --main-colour: #3d5a80; /* Dark steel blue */
  --hover-colour: #d8b5b5;
}


html,body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: var(--background-colour);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: var(--main-colour);
}

button {
  background-color: var(--main-colour);
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var( --hover-colour);
}