:root {
  --background-colour: #f0e5e5; /* Light rose */
  --main-colour: #3d5a80; /* Dark steel blue */
  --hover-colour: #d8b5b5;
  /* --font-colour: #f7f0d1; */
}


html,body {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  background-color: var(--background-colour);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  color: var(--main-colour);
}

button {
  background-color: var(--main-colour);
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var( --hover-colour);
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.input-container input {
  background-color: var(--hover-colour);
  color: var(--main-colour);
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--main-colour);
  border-radius: 5px;
  width: 300px;
}

.input-container button {
  background-color: var(--main-colour);
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.input-container button:hover {
  background-color: var(--hover-colour);
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--background-colour);
  padding: 20px;
}

.item {
  background-color: var(--hover-colour);
  border: 1px solid var(--main-colour);
  color: var(--main-colour);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.item:hover {
  background-color: var(--hover-colour);
}